.blue{
    background-color: #82b1ff;
}

.red{
    background-color: #ff5252;
}

.green{
    background-color: #88c399;
}

.purple{
    background-color: #e7b9ff;
}


.brown{
    background-color: #bcaaa4;
}

.black{
    background-color: black;
}

.grey{
 background-color: #8e8e8e;
}

.white{
    background-color: #ffffff;
}
.yellow{
    background-color: #ffff8d;
}
.orange{
    background-color: #ffb74d;
}